.contacts {
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #444444;
}
