.optional-catalog__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.optional-catalog__cards {
  list-style-type: none;
}

.optional-catalog__promo {
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../img/promo-background-catalog.jpg");
  background-color: #68b738;
}
